.alert_wrapper .alert_item.alert_info{
	background: #cde8f5;
	color: #4480ae;
}

.alert_wrapper .alert_item.alert_error{
	background: #ecc8c5;
	color: #b32f2d;
}

.alert_wrapper .alert_item.alert_warning{
	background: #f8f3d6;
	color: #967132;
}

.alert_wrapper .alert_item.alert_success{
	background: #def2d6;
	color: #5a7052;
}

.alert_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: map-get($z-index, alert);
	.alert_backdrop{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #2d333f;
		opacity: 0.9;
		z-index: 2;
	}
	.alert_item{
		z-index: 3;
		top: 0;
		position: fixed;
		display: flex;
		padding: 25px 50px;
		border-radius: 4px;
		left: 50%;
		transform: translateX(-50%);
		min-width: 60%;
		justify-content: space-between;
		transition: all 0.2s ease;
		align-items: center;
		animation: animateOpen 0.4s linear;
		.data{
			margin: 0 25px;
			.title{
				font-size: 18px;
				margin-bottom: 5px;
			}
			span{
				font-weight: 700;
			}
			.sub{
				font-size: 14px;
				font-weight: 100;
			}
		}
		.icon{
			font-size: 32px;
		}
		.close{
			cursor: pointer;
		}
		&.closeing{
			animation: animateClose 0.4s linear;
		}
	}
}

@keyframes animateOpen{
	0%{
		transform: translate(-50%, -100%);
	}
	100%{
		transform: translate(-50%, 0);
	}
}
@keyframes animateClose{
	0%{
		transform: translate(-50%, 0);
	}
	100%{
		transform: translate(-50%, -100%);
	}
}