.colors-container{
	max-width: 1000px;
	margin: 0 auto;
}
.colors_div{
	border: 2px solid var(--color-normal);
	margin: 10px;
	border-radius: 4px;
	background: var(--color-normal-glass);
	.colors{
		display: flex;
		.color_container{
			margin: 20px;
			p{
				line-height: 40px;
				font-size: 20px;
				text-align: center;
				color: var(--text-normal);
			}
		}
	}
}

.styleIcon{
	border-radius: 50%;
	background: #333;
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
	&:hover,
	&.active{
		box-shadow: 0 0 10px #000;
	}
	.styleIcon-color{
		width: 27px;
		height: 27px;
		border-radius: 50%;
		border: 2px solid #fff;
		box-sizing: content-box;
		&:nth-child(1){
			position: absolute;
			left: 50%;
			top: 3px;
			transform: translateX(-50%);
		}
		&:nth-child(2){
			position: absolute;
			left: 22px;
			top: 35px;
			transform: translateX(-50%);
		}
		&:nth-child(3){
			position: absolute;
			left: 58px;
			top: 35px;
			transform: translateX(-50%);
		}
	}
}
