.dialog_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: map-get($z-index, alert);
}
.dialog_item{
	background: var(--color-normal);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	width: 450px;
	min-height: 200px;
	max-height: 500px;
	border-radius: 4px;
	color: var(--text-normal);
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
				0px 24px 38px 3px rgba(0, 0, 0, 0.14),
				0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	.dialog_title{
		-webkit-font-smoothing: antialiased;
    	font-size: 1.25rem;
		line-height: 2rem;
		font-weight: 500;
		letter-spacing: .0125em;
		text-decoration: inherit;
		text-transform: inherit;
		display: block;
		position: relative;
		flex-shrink: 0;
		box-sizing: border-box;
		margin: 0;
		padding: 0 24px 9px;
		border-bottom: 1px solid transparent;
		&::before {
			display: inline-block;
			width: 0;
			height: 40px;
			content: "";
			vertical-align: 0;
		}
	}
	input{
		color: var(--text-normal);
		background: var(--color-normal);
	}
	.content{
		font-family: Roboto, sans-serif;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;
		text-decoration: inherit;
		text-transform: inherit;
		flex-grow: 1;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 24px;
		overflow: auto;
		&.content-scrollable{
			padding-top: 8px;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			border-top: 1px solid transparent;
			border-color: rgba(0,0,0,.12);
		}
		.field{
			display: flex;
			-webkit-font-smoothing: antialiased;
			font-size: .875rem;
			line-height: 1.25rem;
			font-weight: 400;
			letter-spacing: .0178571429em;
			text-decoration: inherit;
			text-transform: inherit;
			align-items: center;
			vertical-align: middle;
			.radio-btn{
				display: inline-block;
				position: relative;
				flex: 0 0 auto;
				box-sizing: border-box;
				width: 40px;
				height: 40px;
				padding: 10px;
				cursor: pointer;
				will-change: opacity,transform,border-color,color;
				.radio-ripple{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					pointer-events: none;
					&::before{
						position: absolute;
						border-radius: 50%;
						opacity: 0;
						pointer-events: none;
						content: "";
						top: var(--mdc-ripple-top, calc(50% - 50%));
						left: var(--mdc-ripple-left, calc(50% - 50%));
						width: var(--mdc-ripple-fg-size, 100%);
						height: var(--mdc-ripple-fg-size, 100%);
						background-color: var(--color-active, #6200ee);
						transition: opacity 15ms linear,background-color 15ms linear;
						z-index: 1;
					}
					&::after {
						position: absolute;
						border-radius: 50%;
						opacity: 0;
						pointer-events: none;
						content: "";
						top: calc(50% - 50%);
						transform: scale(0);
						transform-origin: center center;
						left: calc(50% - 50%);
						width: 100%;
						height: 100%;
					}
				}
				.radio-background {
					display: inline-block;
					position: absolute;
					left: 10px;
					top: 10px;
					box-sizing: border-box;
					width: 50%;
					height: 50%;
					&::before {
						background-color: var(--color-active, #6200ee);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transform: scale(0, 0);
						border-radius: 50%;
						opacity: 0;
						pointer-events: none;
						content: "";
						transition: opacity 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1),transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
					}
					.radio-outer-circle {
						position: absolute;
						top: 0;
						left: 0;
						box-sizing: border-box;
						width: 100%;
						height: 100%;
						border-width: 2px;
						border-style: solid;
						border-color: rgba(0,0,0,.54);
						border-radius: 50%;
						transition: border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
					}
					.radio-inner-circle {
						position: absolute;
						top: 0;
						left: 0;
						box-sizing: border-box;
						width: 100%;
						height: 100%;
						transform: scale(0, 0);
						border-width: 10px;
						border-style: solid;
						border-radius: 50%;
						transition: transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1),border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
						border-color: var(--color-active, #6200ee);
					}
				}
			}
			& > label{
				order: 0;
				margin-right: auto;
				padding-left: 4px;
			}
			input[type="radio"]{
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				opacity: 0;
				top: 0;
				left: 0;
				cursor: inherit;
				z-index: 1;
			}
			&.active .radio-btn .radio-background .radio-outer-circle{
				border-color: var(--color-active)
			}
			&.active .radio-btn .radio-background .radio-inner-circle{
				transform: scale(0.5);
				transition: transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1),border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
			}
		}
	}
	.dialog_btn_container{
		display: flex;
		position: relative;
		flex-shrink: 0;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		box-sizing: border-box;
		min-height: 52px;
		margin: 0;
		padding: 8px;
		border-top: 1px solid transparent;
		.btn{
			width: auto;
			margin: 5px;
			padding: 0 20px;
		}
	}
}