$z-index: (
  alert              : 999,
  modal              : 200,
  navigation-top     : 120,
  navigation         : 100,
  footer             : 90,
  triangle           : 60,
  navigation-rainbow : 50,
  share-type         : 41,
  share              : 40,
);

body{
	--color-base: #333;
	--color-base-v2: #555;
	--color-base-glass: #5557;
	--color-normal: #777;
	--color-normal-v2: #999;
	--color-normal-glass: #9997;
	--color-active: #1E90FF;
  --text-base: #fff;
  --text-normal: #fff;
  --text-active: #fff;

  background-size: cover;
	background-attachment: fixed;
}

@import "scrol.scss";
@import "menu.scss";
@import "profile.scss";
@import "loading.scss";
@import "gallery.scss";
@import "alert.scss";
@import "dialog.scss";

.root-container{
  position: relative;
  margin: 60px 0 0 60px;
  min-height: calc(100vh - 60px);
  width: calc(100% - 60px);
  @media (max-width: 720px){
    margin: 60px 0 0 0;
    width: 100%;
	}
}

.container{
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 600px){
    width: 540px;
  }
  @media (min-width: 780px){
    width: 720px;
  }
  @media (min-width: 1020px){
    width: 960px;
  }
  @media (min-width: 1200px){
    width: 1140px;
  }
}

.separation{
  border-bottom: 1px solid var(--color-normal-v2);
  color: var(--text-normal);
  text-align: center;
  margin: 0 10px;
}

.btn{
  box-sizing: content-box;
  margin: 10px;
  display: block;
  width: calc(100% - 20px);
  border: none;
  font-size: 18px;
  text-decoration: none;
  background: var(--color-active);
  color: var(--text-active);
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.226),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 280ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  &:active{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    filter: brightness(90%);
  }
  &.border{
    background: transparent;
    border: 2px solid var(--color-active);
    color: var(--color-active);
  }
  &.min{
    color: var(--color-active);
    background: transparent;
    box-shadow: none;
    &:hover{
      filter: brightness(90%);
    }
    &:active{
      box-shadow: inset 0px 5px 5px -3px rgba(0, 0, 0, 0.2), inset 0px 4px 5px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      filter: brightness(90%);
    }
  }
}

.input-data{
	height: 40px;
	width: 100%;
	position: relative;
	$top: -20px;
	input{
		height: 100%;
		width: 100%;
		border: none;
		outline: none;
		border-bottom: 2px solid var(--color-normal-v2);
		font-size: 17px;
		&:focus, &:valid{
			border-bottom: 2px solid var(--color-active);
		}
	}
	input:focus ~ label,
	input:valid ~ label{
		transform: translateY($top);
		font-size: 13px;
		color: var(--color-active);
	}
	label{
		position: absolute;
		bottom: 10px;
		left: 0;
		transform: translateY(0);
		font-size: 17px;
		color: var(--color-normal-v2);
		pointer-events: none;
		transition: 0.3s;
	}
}

.btn_container{
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 52px;
  margin: 0;
  padding: 8px;
  border-top: 1px solid transparent;
  .btn{
    width: auto;
    margin: 5px;
    padding: 0 20px;
  }
}
