.profile-container{
	display: flex;
	position: relative;
	height: 100%;
	.profile{
		padding: 0 20px;
		position: relative;
		flex-basis:33.33%; 
		height: calc(100vh - 60px);
		.img-container{
			padding: 20px;
			height: 300px;
			width: 300px;
		}
		.text-container{
			padding: 10px 10px;
			height: 30px;
			display: flex;
			.text{
				flex-basis:50%; 
			}
		}
		.input-container{
			padding: 10px 10px;
		}
	}
	.services{
		flex-basis:66.66%;
		height: calc(100vh - 60px);
	}
}