.profile-container{
	display: flex;
	position: relative;
	height: 100%;
	@media (max-width: 780px){
		display: block;
	}
	.profile{
		padding: 20px;
		z-index: 6;
		position: relative;
		flex-basis:33.33%;
		height: calc(100vh - 100px);
		background: var(--color-normal);
		color: var(--text-normal);
		@media (max-width: 780px){
			position: absolute;
			width: calc(100% - 40px);
			transition: 1s;
			&.show{
				left: 0;;
				overflow: hidden;
			}
			&.hide{
				left: -100%;;
			}
		}
		.switch-profile-btn{
			width: 120px;
			z-index: 5;
			height: 60px;
			position: absolute;
			top: 0;
			right: -60px;
			background: var(--color-normal);
			color: var(--text-normal);
			border-radius: 10px;
			overflow: hidden;
			i{
				width: 60px;
				height: 60px;
				font-size: 24px;
				text-align: center;
				line-height: 60px;
				&:first-child{
					background: var(--color-base-v2);
					color: var(--text-base-v2);
				}
			}
			@media (min-width: 780px){
				display: none;
			}
		}
		.img-container{
			padding: 20px;
			position: relative;
			height: 300px;
			width: 300px;
			margin: 0 auto;
			@media (max-width: 780px){
				height: 200px;
				width: 200px;
			}
			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.text-container{
			padding: 10px 10px;
			height: 30px;
			display: flex;
			.text{
				flex-basis:50%;
			}
		}
		.input-container{
			padding: 10px 10px;
			input{
				background: var(--color-normal);
				color: var(--text-normal);
			}
		}
	}
	.services{
		flex-basis:66.66%;
		height: calc(100vh - 60px);
		width: 100%;
	}
}
