.services{
	position: relative;
}

.floating-btn{
	background: var(--color-active);
	color: var(--text-active);
	border-radius: 50%;
	position: absolute;
	height: 56px;
	width: 56px;
	right: 10px;
	bottom: 10px;
	font-size: 40px;
	text-align: center;
	box-shadow: 0 0 10px #000;
	transition: .3s;
	line-height: 56px;
	cursor: pointer;
	&:hover{
		box-shadow: none;
	}
	&:active{
		box-shadow: inset 0 0 10px #000;
	}
}

.add-service-containre{
	margin: 15px;
	border-radius: 10px;
	background: var(--color-normal);
	color: var(--text-normal);
	padding: 10px;
	box-shadow: 0 0 8px #000;
	margin-top: 50%;
	transform: translateY(calc(-50% - 20px));
	h4{
		padding-top: 15px;
	}
	input{
		background: var(--color-normal);
		color: var(--text-normal);
	}
}