.settings{
	position: relative;
	background: var(--color-normal);
	width: 100%;
	padding: 0 0 10px 0;
	color: var(--text-normal);
	min-height: calc(100vh - 60px);
	.settings_block{
		.settings_block_title{
			padding: 20px 10px;
			font-size: 24px;
			text-align: center;
		}
		.settings_block_field{
			padding: 0 20px;
			line-height: 60px;
			height: 60px;
			position: relative;
			display: flex; 
			justify-content: space-between;
			.settings_block_field_input-data{
				top:0;
				position: relative;
				background: var(--color-normal);
				input{
					background: var(--color-normal);
					color: var(--text-normal);
					position: relative;
				}
				label{
					bottom: 0;
					line-height: 15px;
				}
			}
			.settings_block_field_text{
				font-size: 20px;
			}
			.settings_block_field_control > *{
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


input[type="checkbox"].switch{
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	// background: #c6c6c6;
	background: var(--color-normal-v2);
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	transition: .5s;
	&:checked{
		background: var(--color-active);
	}
	&::before{
		content: '';
		width: 40px;
		position: absolute;
		height: 40px;
		border-radius: 20px;
		top: 0;
		left: 0;
		transition: .5s;
		box-shadow: 0 2px 5px rgba(0,0,0,.2);
		background: linear-gradient(180deg,var(--color-base-v2),var(--color-base));
   		box-shadow: inset 0 2px 5px rgba(0, 0, 0 ,.5), inset 0 1px 1px rgba(255, 255, 255, 0.1);
	}
	&:checked::before{
		left: 40px;
	}
	&::after{
		content: '';
		width: 8px;
		position: absolute;
		border-radius: 50%;
		height: 8px;
		background: red;
		left: 16px;
		transition: .5s;
		box-shadow: inset 0 2px 5px rgba(0,0,0,.2);
		top: 16px;
	}
	&:checked::after{
		left: 56px;
		background: var(--color-active)
	}
}



.theme_create{
	width: calc(100% - 40);
	background: var(--color-normal);
	color: var(--text-normal);
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	position: relative;
	input{
		background: var(--color-normal);
		color: var(--text-normal);
	}
}

input[type="color"]{
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
}

.colors_inputs{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.backgrounds{
	position: relative;
	.background-item{
		position: relative;
		overflow: hidden;
		height: 250px;
		padding: 5px;
		margin: 10px;
		background: var(--color-base-v2);
		border-radius: 4px;
		.background-item-title{
			position: relative;
			height: 250px;
			width: calc(100% - 400px);
			text-align: center;
			top: 50%;
		}
		.background-item-img{
			width: 400px;
			height: 250px;
			right: 5px;
			overflow: hidden;
			position: absolute;
			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}