.Users{
	margin: 30px 0 0 0;
	display: flex;
	justify-content: center;
	align-items:center;
  }
  .usersList{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;
  }
  .userElement{
	position: relative;
	display: flex;
	justify-content: center;
	align-items:center;
	width: 320px;
	border-radius: 4px;
	height: 420px;
	margin: 20px;
	background: var(--color-base);
	.content{
		padding: 30px;
		text-align: center;
		p{
			color: var(--text-base);
			padding: 20px 0;
			font-size: 20px;
			line-height: 30px;
		}
		.userImg{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin: auto;
			overflow: hidden;
			color: var(--text-base);
			img{
				width: 100%;
    			height: 100%;
    			object-fit: cover;
			}
		}
	}
  }

  .userElement .content h3{
	margin: 10px;
	color: var(--text-base);
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
  }
  .userElement a.editBtn,
  .userElement button.editBtn{
	border: none;
	text-decoration: none;
	background: var(--color-normal);
	padding: 8px 30px;
	margin-bottom: 5px;
	color: var(--text-normal);
	font-size: 20px;
	border-radius: 2px;
	display: block;
	transition: 0.5s;
  }
  .userElement a.editBtn:hover,
  .userElement button.editBtn:hover{
	box-shadow: inset 0 0 10px #000
  }
  .userElement button.deletBtn{
	border: none;
	display: block;
	text-decoration: none;
	background: #d00;
	padding: 8px 30px;
	color: #fff;
	font-size: 20px;
	border-radius: 2px;
	transition: 0.5s;
  }
  .userElement button.deletBtn:hover{
	box-shadow: inset 0 0 10px #000
  }
  .userElement .control{
	display: flex;
	flex-direction: column;
  }
  